/WebApplication3/dist/
/WebApplication3/build/
/WebApplication3/nbproject/private/
/WebApplication1/build/
/WebApplication1/dist/
/SpringMina/build/
/TestClient/nbproject/private/
/TestClient/build/
/TestClient/dist/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/