<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
    
    <!--Mina配置-->
    <!--handler-->
    <bean id="minaHandler" class="com.num.mina.handler.GameHandlerService" />
    <!--filter-->
    <bean id="executorFilter" class="org.apache.mina.filter.executor.ExecutorFilter">
        <constructor-arg value="${game.core.thread.pool}" />
        <constructor-arg value="${game.max.thread.pool}" />
    </bean>
    <bean id="loggingFilter" class="org.apache.mina.filter.logging.LoggingFilter" />
    <bean id="codecFilter" class="org.apache.mina.filter.codec.ProtocolCodecFilter">
        <constructor-arg>
            <bean class="com.num.mina.codec.factory.GameProtoCodecFactory">
	      <constructor-arg type="java.lang.String" value="utf8" />
	    </bean>
        </constructor-arg>
    </bean>
    <!--acceptor-->
    <bean id="ioAcceptor" class="org.apache.mina.transport.socket.nio.NioSocketAcceptor" destroy-method="unbind">
        <property name="defaultLocalAddress">
            <bean class="java.net.InetSocketAddress">
                <constructor-arg type="java.lang.String" value="${game.ip}"/>
                <constructor-arg type="int" value="${game.port}"/>
            </bean>
        </property>
    </bean>
</beans>
