<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

<!--    RMI Service 配置-->
    <bean id = "rmiService" class="com.num.rmi.local.impl.RemoteRmiService" />
    <bean id="rmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter" destroy-method="destroy">
        <property name="serviceName" value="remoteService" />
	<property name="serviceInterface">
	  <value>com.num.rmi.local.IRmiService</value>
	</property>
	<property name="service">
	  <ref bean="rmiService" />
	</property>
        <property name="registryPort" value="${register.port}" />
    </bean>

    <!--RMI远程调用配置-->
    <bean id="localRmiService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
        <property name="serviceUrl" value="rmi://${rmi.ip}:${rmi.port}/${rmi.serviceName}" />
            <property name="serviceInterface" value="com.num.rmi.call.IRmiCallService" />
    </bean>

</beans>
